.vscode
a.out
server1
server2
server3
Hands-On-Network-Programming-with-C
index.html
src/*.o
webserv
.vscode
image.jpg
me.png
read_file
R6.mp4
styles.css
test.css
text.txt
file.html
delete
uploads
hello.php
hello.py
*.jpg
*.png
*.jpeg
post.txt
cgiU
uploadCGI